doctype html

include ../public/components/checkbox/checkbox.pug

<html lang="en">
head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link#dynamic-favicon(rel="shortcut icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAsklEQVR4AezUpwECURRE0fv6gAagAhyOYrCgWbueTFfkEli3kpxz/IkMZ/yVw2+LLIY7X2Yyw8dRTGbrEcdJchdKYi1KgWAXCigQxUKagcyOx4A0hjIyuzyyGEgwuRqakECT0JXZ9dFF0JKS2e2RQktVGaqhpaEMNdESKkMhOmSm3j/0DynktEKe/g8pRsY9o07JzGxc5RnuFXrzwb3xgjKD2uEGdVDqpjqGl0DYyDByAQBSWI79pT9USAAAAABJRU5ErkJggg==")
    link(rel="apple-touch-icon-precomposed" sizes="57x57" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAsklEQVR4AezUpwECURRE0fv6gAagAhyOYrCgWbueTFfkEli3kpxz/IkMZ/yVw2+LLIY7X2Yyw8dRTGbrEcdJchdKYi1KgWAXCigQxUKagcyOx4A0hjIyuzyyGEgwuRqakECT0JXZ9dFF0JKS2e2RQktVGaqhpaEMNdESKkMhOmSm3j/0DynktEKe/g8pRsY9o07JzGxc5RnuFXrzwb3xgjKD2uEGdVDqpjqGl0DYyDByAQBSWI79pT9USAAAAABJRU5ErkJggg==")

    
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/cookiestore.js")
    script(src="/components/checkbox/checkbox.js")
    script(src="/scripts/web.js")

    link(rel="stylesheet" href="/styles/button.css")
    link(rel="stylesheet" href="/styles/prettyInput.css")
    link(rel="stylesheet" href="/components/checkbox/checkbox.css")
    link(rel="stylesheet" href="/styles/main.css")
body
    .overlay#loadingOverlay Loading...
    .overlay#nameOverlay(style={ display: "none" })
        .padded.centered
            label(for="nameInput") Enta name heeere:
            input#nameInput.prettyInput.spaced(name="nameInput" type="text", placeholder="name." style={ width: "100%" })
            button#nameSubmitButton.prettyButton.spaced(onclick="addName()" style={ width: "100%" }) Lesgo.
    main
        h1(style="text-align: center") Doorbell
        h2#name(style="text-align: center")
        button.prettyButton(style="width: 100%; height: 60vh;" onclick="ring()") Ring Bell
        .options
            +checkbox("I am <b>BELL</b>")(onchange="toggleBellMode")
        #lastRang(style="text-align: center;")
    audio#bellAudio
        source(src="/audio/doorbell.wav" type="audio/wav")
        source(src="/audio/doorbell.mp3" type="audio/mp3")
</html>