.prettyButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 10px;
    font-size: 48px;
    outline: none;
}

.prettyButton:hover {
    background-color: rgb(73, 73, 73);
    color: white;
}