/* Globals */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2 {
    font-size: 3.5em;
    font-style: italic;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;

}

h5 {
    font-size: 2em;
    font-style: italic;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

b {
    font-weight: bold;
}

/* Individual elements */

.options {
    margin-left: 30px;
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
}

.overlay div {
    position: relative;
}
