.options {
    margin-left: 30px;
}

main {
    padding-left: 15%;
    padding-top: 30px;
    padding-right: 15%;
}

.spaced {
    margin-top: 20px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
}

.overlay * {
    position: relative;
}

.padded {
    padding: 100px;
}

.overlay .centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }

    .padded {
        padding: 20px;
    }

    .centered {
        left: 0;
        transform: translate(0, -50%);
    }
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}